@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Acme&family=Ubuntu+Condensed&display=swap");

:root {
  --header-font: "Ubuntu Condensed", sans-serif;
  --body-font: "Sawarabi Gothic", sans-serif;
  --answer-font: "Acme", sans-serif;
}

body {
  font-family: var(--body-font);
  margin: 0;
  background-color: #f3f6f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background-color: #fff;
}

.header h3 {
  cursor: pointer;
  font-family: var(--answer-font);
  font-weight: lighter;
}

.header p {
  font-family: var(--body-font);
}

.title {
  text-align: center;
}

.title h1 {
  font-family: var(--answer-font);
  font-weight: lighter;
}

.title p {
  font-size: 1.1rem;
  color: #888;
}

.bookArea {
  text-align: center;
  color: #888;
  font-size: 1.1rem;
  margin-top: 40px;
  cursor: pointer;
}

.bookArea p {
  margin-top: 0;
}

.footer {
  text-align: center;
  background-color: #444444;
  color: #888;
  margin-top: 50px;
  padding: 30px 0 10px 0;
}

.footerNav {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.navLinks:hover {
  color: #fff;
}

.answer {
  text-align: center;
}

.answer h1 {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  box-shadow: 1px 2px 8px #888;
  background-color: #fff;
  font-size: 40px;
  font-weight: lighter;
  font-family: var(--answer-font);
}
.answer p {
  margin-top: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.loader {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  box-shadow: 1px 2px 8px #888;
  background-color: #fff;
  font-size: 20px;
  color: #73777b;
}

.linkTitle {
  text-align: center;
  padding-top: 20px;
}

.linkTitle h1 {
  font-family: var(--answer-font);
  font-weight: lighter;
}

.linkContent {
  border: 1px solid #eaeaea;
  height: auto;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  box-shadow: 1px 2px 8px #888;
  background-color: #fff;
  text-align: auto;
  padding: 10px;
  font-size: 1rem;
}

.linkContent h3 {
  font-size: 1.25rem;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  *:not(.title h1) {
    font-size: small;
  }
  .title {
    font: large;
  }
  .book-image {
    height: auto;
    width: 80%;
  }
  .answer h1 {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    box-shadow: 1px 2px 8px #888;
    background-color: #fff;
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: var(--answer-font);
  }
  .answer p {
    margin-top: 10px;
    font-size: medium;
    cursor: pointer;
  }
  .loader {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    box-shadow: 1px 2px 8px #888;
    background-color: #fff;
    font-size: large;
    color: #73777b;
  }
}
